{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Artikel Edukasi - Kamera Pintar</title>
    <link rel="stylesheet" href="{% static 'main/artikel.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="logo">Kamera Pintar</div>
        <nav>
            <a href="{% url 'home' %}">Dashboard</a>
            <a href="{% url 'history_pengguna' %}">History Pelanggaran</a>
            <a href="{% url 'notifikasi' %}">Notifikasi Pelanggaran</a>
            <a href="{% url 'logout' %}">Logout</a> 
        </nav>
    </header>

    <main class="artikel-container">
        <div class="judul-dengan-gambar">
        <img src="{% static 'img/motor.png' %}" alt="Scooter Kid" class="hero-image">
        <h1>Artikel Edukasi</h1>
        </div>

        {% for artikel in artikel_list %}
        <div class="artikel">
            <h2>{{ artikel.judul }}</h2>
            <p><strong>Penulis:</strong> {{ artikel.penulis }} | 
               <strong>Tanggal:</strong> {{ artikel.tanggal|date:"j F Y" }}</p>
            <img src="{% static 'main/artikel/'|add:artikel.gambar %}" alt="{{ artikel.judul }}" width="300">
            <p>{{ artikel.isi }}</p>
        </div>
        {% endfor %}

    </main>
</body>
</html>
