{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Kamera Pintar</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="logo">Kamera Pintar</div>
        <nav>
            <a href="{% url 'home' %}">Dashboard</a>
            <a href="{% url 'history_pengguna' %}">History Pelanggaran</a>
            <a href="{% url 'notifikasi' %}">Notifikasi Pelanggaran</a>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
    </header>

    <main class="container">
        <div class="left-panel">
            <img src="{% static 'img/motor.png' %}" alt="Scooter Kid" class="hero-image">
        </div>
        <div class="right-panel">
         <a href="{% url 'rambu' %}" class="card brown"><i class="fa-solid fa-triangle-exclamation"></i><br>Jenis-Jenis Rambu<br>Lalu Lintas</a>
         <a href="{% url 'marka' %}" class="card dark"><i class="fa-solid fa-road"></i><br>Jenis-Jenis Marka (Garis) Jalan</a>
         <a href="{% url 'artikel' %}" class="card gray"><i class="fa-solid fa-book-open"></i><br>Artikel atau Blog Edukasi</a>
         <a href="{% url 'tata_cara' %}" class="card blue"><i class="fa-solid fa-car"></i><br>Tata Cara Berkendara</a>
       </div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    </main>
</body>
</html>
