{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Jenis Marka - Kamera Pintar</title>
    <link rel="stylesheet" href="{% static 'main/artikel.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="logo">Kamera Pintar</div>
        <nav>
            <a href="{% url 'home' %}">Dashboard</a>
            <a href="{% url 'history_pengguna' %}">History Pelanggaran</a>
             <a href="{% url 'notifikasi' %}">Notifikasi Pelanggaran</a>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
    </header>

    <div class="judul-dengan-gambar">
        <img src="{% static 'img/motor.png' %}" alt="Scooter Kid" class="hero-image">
        <h1>Jenis-Jenis Rambu Lalu Lintas</h1>
    </div>
    
    <section class="rambu-container">
        {% for marka in marka_list %}
        <div class="rambu-card">
            <img src="{% static 'main/marka/' %}{{ marka|slugify }}.png" alt="{{ marka }}">
        </div>
        {% endfor %}
    </section>
</body>
</html>
