{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Kamera Pintar</h2>
            <nav>
                <a href="{% url 'dashboard' %}  ">Dashboard</a>
                <a href="{% url 'history' %}">Histori Pelanggaran</a>
                <a href="{% url 'logout' %}">Logout</a>
            </nav>
        </aside>

        <main class="main-content">
            <header>
                <h1>{{ title }}</h1>
            </header>

            <section class="form-section">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if form.errors %}
  <div style="color: red;">
    <strong>Terjadi kesalahan:</strong>
    <ul>
      {% for field in form %}
        {% for error in field.errors %}
          <li>{{ field.label }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

                    
                    <button type="submit" class="btn">Simpan</button>
                    <a href="{% url 'user_list' %}" class="btn">Kembali</a>
                </form>
            </section>
        </main>
    </div>
</body>
</html>
