{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Kamera Pintar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Kamera Pintar</h2>
            <nav>
                <a href="#">Dashboard</a>
                <a href="{% url 'history' %}">Histori Pelanggaran</a>
            </nav>
        </aside>

        <main class="main-content">
            <header>
                <h1>Kamera Pintar</h1>
               <div class="cards">
    <div class="card red">
        <p>Total pelanggaran hari ini</p>
        <span class="icon">{{ total_today }}</span>
    </div>
    <div class="card red">
        <p>Pelanggaran ditindak</p>
        <span class="icon">{{ ditindak }}</span>
    </div>
    <div class="card green">
        <p>Pelanggaran Selesai</p>
        <span class="icon">{{ selesai }}</span>
    </div>
    <div class="card blue">
        <p>Lokasi Kamera aktif</p>
        <span class="icon">{{ kamera_aktif }}</span>
    </div>
</div>

            </header>

            <section class="table-section">
                <h2>Data pelanggaran</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Gambar</th>
                            <th>Waktu</th>
                            <th>Lokasi</th>
                            <th>Plat nomor</th>
                            <th>Status</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pelanggaran in pelanggarans %}
                        <tr>
        
                            <td>{{ pelanggaran.id_pelanggaran }}</td>
                            <td><img src="{{ pelanggaran.bukti_gambar.url }}" width="100" alt="Bukti Pelanggaran"></td>
                            <td>{{ pelanggaran.waktu|date:"d M Y H:i" }}</td>
                            <td>{{ pelanggaran.lokasi }}</td>
                            <td>{{ pelanggaran.kendaraan.plat_nomor }}</td>
                            <td>{{ pelanggaran.status }}</td>
                            <td><a href="#">Detail</a></td>
                        </tr>
                        {% empty %}
                        <tr><td colspan="6">Tidak ada data.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>
